/* General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.weather-container {
    height: 100vh;
    width: 100vw;
    background-color: #6bb9f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-container-location {
    display: flex;
}

.location {
    font-size: 2rem;
    font-weight: bold;
}

.weather-container--title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MAPS*/

#googleMap {
    margin-top: 16px;
    width: 100%;
    height: 20rem;
  }