.country-input-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;

    margin-right: 10px;
}

.country-input-icon {
    position: absolute;
    left: 14px;
    width: 16px;
    height: 16px;
    pointer-events: none;
}

.country-input-wrapper input {
    padding: 16px;
    padding-left: 40px;
     border-radius: 8px;

     border: none;

     width: 400px;

}

.country-input-button {
    padding: 16px 18px;
    border-radius: 8px;
    background-color: var(--blue-500);
    color: var(--neutral-0);
    border: none;
    font-weight: 600;
}