.current-weather {
  width: 760px;
  height: 260px;
  color: white;
  background: url('src/assets/images/bg-today-large.svg');
  background-repeat: no-repeat;
  background-size:contain;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.location {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.temperature {
  font-size: 2rem;
  color: inherit;
  font-weight: bold;
  margin-top: 16px;
  position: relative;
  z-index: 2;
}