.container {
  padding: 16px;
  position: relative;
}

.current-weather {
  width: 300px;
  height: 60vh;
  color: white;
  background-color: #699bce;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.location {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.temperature {
  font-size: 8rem;
  color: inherit;
  font-weight: bold;
  margin-top: 16px;
  position: relative;
  z-index: 2;
}

.sun {
  width: 160px;
  height: 160px;
  background-color: rgba(238, 219, 52, 0.749);
  border-radius: 50%;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.moon {
  width: 130px;
  height: 130px;
  background-color: rgba(173, 173, 173, 0.777);
  border-radius: 50%;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cloud {
  height: 100px; /* control the size */
  aspect-ratio: 1.8;
  --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
  mask:
    var(--g) 100% 100%/30% 60%,
    var(--g) 70% 0/50% 100%,
    var(--g) 0 100%/36% 68%,
    var(--g) 27% 18%/26% 40%,
    linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
  background: #d1ebff5a;
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
}
